.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0F0F0F;
    height: 70px;
    width: 100%;

    &-group {
        display: flex;
        align-items: center;
        gap: 8px;
        margin: 0 20px
    }

    &-added {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 92.5%;
        top: 0.17%;
        background: #0000A3;
        width: 16px;
        height: 16px;
        font-weight: 700;
        font-size: 12px;
        line-height: 12px;
        border-radius: 50%;
        color: #FDFDFA;
    }
}